.gap{
    padding-left: 2rem!important;
    padding-right: 2rem!important;
    padding-bottom: 5rem;
}

#title1{
    margin-top: 7rem;
    margin-bottom: 2rem;
    padding-left: 3rem!important;
}

#title2{
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-left: 3rem!important;
}

#title3{
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-left: 3rem!important;
}

#title4{
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-left: 3rem!important;
}

img{
    /* filter: grayscale(100%) contrast(100%) brightness(100%); */
    
}