img {
    object-fit: contain;
    width: 100%;
    height: 100%;
} 

.gridDisplay{
    margin-top: 8rem;
}

.gridDisplay .container-fluid{
   padding-left: 0!important;
   padding-right: 0;
}
img{
    transition:1s;
}

img:hover{
    cursor: zoom-in;
    transform: scale(1.1);
}

.item-1{
    align-self: flex-end;
}

.item-2 p{
    margin-bottom: 0.5;
}

.item-3{
    padding-left: 0!important;
   padding-right: 0!important;
}

.item-3 img:hover{
    transform: unset;
}

.item-4 p{
    color: grey;
}

.item-5{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.item-5 p{
    font-size: 1.2rem;
}

.item-18{
    padding-bottom: 7rem;
}

@media only screen and (min-width: 576px){
    .row .item-1 h2{
        margin-left: 3rem;
    
    }
}