.container-nb{
    margin-top: 8rem;
    display: grid;
    /* width: 1200px;
    height: auto; */
    grid-gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: repeat(9, 1fr); */
    
    
}

.container-nb h2, .container-nb p{
    /* font-family: 'Potta One', cursive; */
    font-family: 'Open Sans', sans-serif;
}
img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.item-1{
    grid-column: 1/4;
    align-self: end;
    padding-left: 4rem;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    
}

.item-2{
    grid-column: 4/7;
    align-self: end;
    justify-self: end;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
    padding-right:4rem;
}

.item-3{
    grid-column: 1/-1;
    
    
}

.item-4{
    grid-column: 2/-1;
    color: rgb(136, 136, 136);
    
}

.item-5{
    grid-column: 2/5;
    padding-top: 3rem;
    font-size: 1.2rem;
    align-self: center;
    justify-self: center;
    font-weight: 500;
    font-size: 1.2rem;
    /* font-family: 'Open Sans', sans-serif; */
    
}

.gallery img:hover{
    cursor: zoom-in;
    transform: scale(1.1);
}

.gallery{
    margin: 100px;
    padding-left: 190px;
    padding-right: 500px;
}

.gallery img{
    transition:1s;
    padding: 30px;
    width: 300px;
}

.studentTable{
    display: inline-block;
    width: 100%;
}

.creditsTable{
    display: inline-block;
    width: 70%;
}

.container-temp{
    display: grid;
 
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.item-a{
padding-left: 18rem;
}